* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f5f5f5;
}

/* NAVBAR */

.navbar {
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  color: #e6007e;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-links button {
  background: #e32f92;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.cart {
  position: relative;
  cursor: pointer;
  font-size: 22px;
}

.cart span {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #e6007e;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HERO */

.hero {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: linear-gradient(to right, #2563eb, #9333ea);
  color: white;
}

.hero-left h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-left p {
  margin-bottom: 20px;
  font-size: 18px;
}

.hero-btns {
  display: flex;
  gap: 15px;
}

.hero-btns button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hero-right img {
  width: 450px;
  border-radius: 20px;
}

/* PRODUCTS */

.products-page {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* SEARCH INPUT */

.sidebar input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

/* RADIO FIX */

.sidebar label {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.sidebar input[type="radio"] {
  width: auto !important;
  margin: 0 !important;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background: #e6007e;
  border: none;
  color: white;
  border-radius: 8px;
  margin-top: 15px;
}

.products-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card h3 {
  margin: 10px 0;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #e6007e;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* LOGIN */

.auth-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: #e6007e;
  border: none;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
}

.auth-box p {
  margin-top: 15px;
  text-align: center;
}

.name-fields {
  display: flex;
  gap: 10px;
}
/* =========================
   EXTRA PRODUCTS PAGE CSS
========================= */

.main-image{
  position: relative;
}

.img-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.left-arrow{
  left: 10px;
}

.right-arrow{
  right: 10px;
}

.products-content {
  flex: 1;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.top-bar h2 {
  color: #222;
}

.top-bar select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  cursor: pointer;
}

.qty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
 
.qty-box button {
  width: 35px;
  height: 35px;
  border: none;
  background: #ddd; 
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-box span {
  font-size: 18px;
  font-weight: bold;
}

.qty-box1 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.qty-box1 button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #f1f1f1;
  font-size: 22px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
 

.qty-box1 span {
  font-size: 20px;
  font-weight: bold;
  min-width: 30px;
  text-align: center;
}

/* SIDEBAR */

.sidebar h2 {
  margin-bottom: 20px;
  color: #222;
}

.sidebar h3 {
  margin-top: 20px;
  margin-bottom: 12px;
  color: #444;
}

.sidebar select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.sidebar input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

.sidebar input[type="radio"] {
  margin-right: 8px;
}

.reset-btn {
  width: 100%;
  padding: 12px;
  background: crimson;
  border: none;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

/* PRODUCT CARD */

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card h2 {
  color: #7c3aed;
  margin: 10px 0;
  font-size: 22px;
}

.card p {
  color: gray;
  margin-bottom: 10px;
}

.card button:hover {
  background: #7c3aed;
}

/* SEARCH BOX */

.sidebar input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .products-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .top-bar {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .hero-left h1 {
    font-size: 40px;
  }

  .hero-right img {
    width: 100%;
    max-width: 350px;
  }

  .navbar {
    padding: 0 20px;
  }
}

/* =====================
   EMPTY CART
===================== */

.empty-cart {
  min-height: 90vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

.empty-cart-box {
  text-align: center;
}

.cart-icon {
  width: 100px;

  height: 100px;

  background: #ffe4ef;

  color: #e6007e;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  margin: auto;

  font-size: 40px;

  margin-bottom: 20px;
}

.empty-cart-box h1 {
  margin-bottom: 10px;

  color: #222;
}

.empty-cart-box p {
  color: gray;

  margin-bottom: 25px;
}

.empty-cart-box button {
  background: #e6007e;

  color: white;

  border: none;

  padding: 12px 22px;

  border-radius: 8px;

  cursor: pointer;

  font-size: 16px;
}

/* =====================
   CART PAGE
===================== */

.cart-page {
  padding: 40px;
}

.cart-heading {
  margin-bottom: 30px;
}

.cart-item {
  background: white;

  padding: 20px;

  border-radius: 12px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.cart-left {
  display: flex;

  gap: 20px;

  align-items: center;
}

.cart-left img {
  width: 120px;

  height: 120px;

  object-fit: contain;
}

.cart-left p {
  color: gray;

  margin: 8px 0;
}

.cart-left h3 {
  color: #7c3aed;
}

.qty-box {
  display: flex;

  align-items: center;

  gap: 15px;
}

.qty-box button {
  width: 35px;

  height: 35px;

  border: none;

  background: #e6007e;

  color: white;

  border-radius: 6px;

  cursor: pointer;

  font-size: 18px;
}

.qty-box span {
  font-size: 18px;

  font-weight: bold;
}

/* ====================
   CART PAGE
==================== */

.cart-container {
  display: flex;
  gap: 30px;
  padding: 40px;
  align-items: flex-start;
}

.cart-left-section {
  flex: 2;
}

.cart-left-section h1 {
  margin-bottom: 25px;
}

.cart-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;  
  gap: 30px;    
}
.cart-product {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 350px;
}

.cart-product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;

  background: #f3f3f3;
}

.cart-product h3{ 
  margin-bottom: 10px;
}


.cart-product p{ 
  color: gray;
}
.qty-section{
  display: flex;
  align-items: center;
  gap: 20px;
}

.qty-section button {
  width: 32px;
  height: 32px;
  border: none;
  background: #f3f3f3;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn {
  border: none;
  background: transparent;
  color: crimson;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
}

/* ====================
   SUMMARY
==================== */

.summary-box {
  flex: 1;

  background: white;

  padding: 25px;

  border-radius: 12px;

  position: sticky;

  top: 100px;
}

.summary-box h2 {
  margin-bottom: 20px;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.summary-total {
  font-size: 20px;
  font-weight: bold;
}

.promo-box {
  display: flex;
  margin: 20px 0;
}

.promo-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
}

.promo-box button {
  padding: 10px 16px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
}

.order-btn {
  width: 100%;
  padding: 14px;
  background: #e6007e;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

.continue-btn {
  width: 100%;
  padding: 14px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

/* ====================
   RESPONSIVE
==================== */

@media (max-width: 900px) {

  .cart-container {
    flex-direction: column;
  }

  .summary-box {
    width: 100%;
  }

  .cart-card {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}
/* NO ADDRESS */

.no-address {
  padding: 25px;
  border: 2px dashed #ddd;
  border-radius: 14px;
  margin-bottom: 20px;
  text-align: center;
  background: #fafafa;
}

.no-address p {
  color: #555;
  margin-bottom: 14px;
  font-size: 15px;
}

.no-address button {
  padding: 10px 20px;
  border: none;
  background: #e6007e;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

.no-address button:hover {
  opacity: 0.9;
}


/* ADDRESS CARD */

.address-card {
  width: 100% ;
  max-width: 900px;
  padding: 22px;
  margin: 0 auto 20px; 
  border: 2px solid #e5e5e5;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.address-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}


/* ACTIVE ADDRESS */

.active-address {
  border: 2px solid #fd008b;
  background: #fff7fb; 

}

.address-card {
  border: 2px solid #dcdcdc;
  transition: all 0.3s ease;
}

.address-card.active-address {
  border: 2px solid #fd008b !important;
  background: #fff7fb;
}


/* TOP */

.address-top {
  display: grid;
  grid-template-columns: 20% 65% 15%;
  align-items: flex-start;
  gap: 10px;
}

/* LEFT */

.address-left {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}


/* HIDE RADIO */

.address-left input {
  display: none;
}


/* NAME */

.address-left h3 {
  font-size: 22px;
  font-weight: 700;
  color: #111;
  margin: 0;
}


/* ADDRESS DETAILS */

.address-text {
  width: 100% ;
  margin-top: 10px;
  color: #555;
  word-break: break-word;
  font-size: 15px;
  line-height: 1.7;
  max-width: 85%;
}


/* DELETE */
.delete-btn {
  text-align: right;
  color: #e6007e;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  opacity: 0.7;
}


/* DEFAULT BADGE */

.default-badge {
  display: inline-block;
  margin-top: 14px;
  padding: 6px 12px;
  background: #e6007e;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}


/* GUEST WARNING */

.guest-warning {
  padding: 14px 18px;
  margin-bottom: 18px;
  border-radius: 10px;
  background: #fff4fa;
  border: 1px solid #ffc7e3;
}

.guest-warning p {
  color: #e6007e;
  font-size: 14px;
  font-weight: 500;
}


/* DEFAULT BADGE */

.default-badge {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 12px;
  background: #e6007e;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}


/* GUEST WARNING */

.guest-warning {
  padding: 14px 18px;
  margin-bottom: 18px;
  border-radius: 10px;
  background: #fff4fa;
  border: 1px solid #ffc7e3;
}

.guest-warning p {
  color: #e6007e;
  font-size: 14px;
  font-weight: 500;
}
/* DEFAULT BADGE */

.default-badge {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 12px;
  border-radius: 30px;
  background: #e6007e;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

/* DELETE */

.delete-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  color: red;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.delete-btn:hover {
  text-decoration: underline;
}

/* NO ADDRESS */

.no-address {
  padding: 25px;
  border-radius: 14px;
  border: 2px dashed #ccc;
  text-align: center;
  margin-bottom: 20px;
}

.no-address p {
  margin-bottom: 14px;
  color: #555;
}

.no-address button {
  padding: 10px 18px;
  border: none;
  background: #e6007e;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.address-card {
  position: relative;
  padding: 25px;
  border-radius: 14px;
  border: 2px solid #ddd;
  margin-bottom: 20px;
  background: white;
}

.address-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #111;
}

.address-content p {
  margin: 6px 0;
  color: #555;
  line-height: 1.5;
}

.delete-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #e6007e;
  cursor: pointer;
  font-weight: 500;
}
/* GUEST WARNING */

.guest-warning {
  margin-bottom: 18px;
  padding: 14px;
  border-radius: 10px;
  background: #fff4fa;
  color: #e6007e;
  border: 1px solid #ffc2df;
}

/* ======================
   PRODUCT DETAILS
====================== */

.details-page {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.details-left {
  flex: 1;
  display: flex;
  gap: 20px;
}

.small-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.small-images img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
  background: white;
}

.main-image {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.main-image img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.details-right {
  flex: 1;
}

.details-right h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.brand {
  color: gray;
  margin-bottom: 20px;
}

.details-right h2 {
  color: #e6007e;
  font-size: 35px;
  margin-bottom: 20px;
}

.desc {
  color: #444;
  line-height: 1.8;
  margin-bottom: 30px;
}

.details-right button {
  padding: 14px 30px;
  border: none;
  background: #e6007e;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Profile.css */

.profile-page{
    width: 100%;
    min-height: 100vh;
    background: #f5f5f5;
    padding: 40px 0;
}

.profile-container{
    width: 85%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.profile-top{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.profile-top h1{
    font-size: 32px;
}

.back-btn{
    border: none;
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-tabs{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.profile-tabs button{
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 5px;
}

.active-tab{
    border-bottom: 2px solid deeppink !important;
    color: deeppink;
}

.profile-content{
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.profile-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid deeppink;
}

.upload-btn{
    margin-top: 20px;
    background: deeppink;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-form{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-form h2{
    margin-bottom: 10px;
}

.profile-form input{
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-row{
    display: flex;
    gap: 20px;
}

.profile-form button{
    padding: 14px;
    border: none;
    background: deeppink;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.orders-section h2{
    margin-bottom: 15px;
}

.orders-section p{
    font-size: 18px;
    color: gray;
}

/* RESPONSIVE */

@media(max-width:900px){

    .profile-content{
        flex-direction: column;
    }

    .profile-left{
        width: 100%;
    }

    .profile-form{
        width: 100%;
    }

    .input-row{
        flex-direction: column;
    }
}

/* Checkout.css */

.checkout-page{
    width: 85%;
    margin: 40px auto;
    display: flex;
    gap: 40px;
}

.checkout-left{
    flex: 2;
}
.checkout-left {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.checkout-right{
    flex: 1;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
    height: fit-content;
}

.checkout-left h2,
.checkout-right h2{
    margin-bottom: 20px;
}

/* CART ITEMS */

.checkout-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.checkout-item img{
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.checkout-item div{
    flex: 1;
    margin-left: 20px;
}

.checkout-item h3{
    margin-bottom: 10px;
}

/* ADDRESS */

.address-card{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.address-card h3{
    margin-bottom: 8px;
}

.address-card p{
    margin: 5px 0;
}

.delete-btn{
    color: crimson;
    cursor: pointer;
    font-size: 14px;
}

/* BUTTONS */

.add-address-btn{
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.checkout-btn{
    width: 100%;
    padding: 15px;
    border: none;
    background: deeppink;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* FORM */

.address-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.address-form input{
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-row{
    display: flex;
    gap: 15px;
}

.address-form button{
    padding: 14px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* PROMO */

.promo-box{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.promo-box input{
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.promo-box button{
    padding: 12px 20px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* SUMMARY */

.summary-row,
.summary-total{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.summary-total{
    font-size: 22px;
    font-weight: bold;
}

.checkout-right ul{
    margin-top: 20px;
    padding-left: 20px;
    color: gray;
}

.checkout-right li{
    margin: 10px 0;
}

/* RESPONSIVE */

@media(max-width:900px){

    .checkout-page{
        flex-direction: column;
    }

    .input-row{
        flex-direction: column;
    }

    .checkout-item{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .checkout-item div{
        margin-left: 0;
    }

    .address-card{
        flex-direction: column;
        gap: 15px;
    }

    .promo-box{
        flex-direction: column;
    }
}

/* Success.css */

.success-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.success-card{
    width: 380px;
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.success-icon{
    font-size: 70px;
    color: green;
    margin-bottom: 20px;
}

.success-card h1{
    font-size: 32px;
    margin-bottom: 15px;
}

.success-card p{
    color: gray;
    line-height: 1.6;
    margin-bottom: 30px;
}

.continue-btn{
    width: 100%;
    padding: 14px;
    border: none;
    background: deeppink;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

.orders-btn{
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

/* Orders.css */

.orders-page{
    width: 85%;
    margin: 40px auto;
}

.orders-top{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.back-btn{
    width: 40px;
    height: 40px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.order-card{
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.order-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.order-header h2{
    margin-bottom: 15px;
}

.order-header h3{
    margin-bottom: 10px;
}

.order-header p{
    color: gray;
}

.order-right{
    text-align: right;
}

.order-right span{
    display: inline-block;
    background: green;
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
    margin-top: 20px;
}

.products-heading{
    margin-bottom: 20px;
}

.order-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.order-product img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.product-info{
    flex: 1;
    margin-left: 20px;
}

.product-info h3{
    font-size: 18px;
}

/* RESPONSIVE */

@media(max-width:900px){

    .order-header{
        flex-direction: column;
        gap: 20px;
    }

    .order-right{
        text-align: left;
    }

    .order-product{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .product-info{
        margin-left: 0;
    }
}





/* ADMIN SIDE START */
 

.admin-dashboard{
  display:flex;
  min-height:100vh;
  background:#f5f5f5;
}

/* SIDEBAR */

.sidebar{
  width:250px;
  background:white;
  padding:25px;
  box-shadow:2px 0 10px rgba(0,0,0,0.1);
}

.sidebar h2{
  margin-bottom:30px;
  color:#e91e63;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  display:flex;
  align-items:center;
  gap:10px;
  padding:15px;
  margin-bottom:15px;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.sidebar li:hover{
  background:#e32f92;
  color:white;
}

/* MAIN */

.main-content{
  flex:1; 
  padding: 30px;
}

/* CARDS */

.cards1{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(220px,1fr));

  gap:20px;
}

.card1{
  background:#e32f92;

  color:white;

  padding:25px;

  border-radius:15px;

  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.card1 h3{
  margin-bottom:15px;
}

.card1 p{
  font-size:28px;
  font-weight:bold;
}

/* GRAPH */

.graph{
  margin-top:40px;
  background:white;
  padding:25px;
  border-radius:15px;
}

.graph-box{
  height:350px;
  margin-top:20px;
  border-radius:12px;
  background:#ffe4f2;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:24px;
  color:#e32f92;
}

.page{
  background:white;
  padding:25px;
  border-radius:15px;
}

.add-product-page{
  padding:30px;
}

.add-product-container{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.add-product-container h2{
  margin-bottom:5px;
}

.add-product-container p{
  color:gray;
  margin-bottom:25px;
}

.add-product-form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.add-product-form label{
  font-weight:600;
}

.add-product-form input,
.add-product-form textarea{
  padding:12px;
  border:1px solid #ddd;
  border-radius:8px;
  outline:none;
}

.add-product-form textarea{
  min-height:120px;
  resize:none;
}

.row{
  display:flex;
  gap:20px;
}

.input-group{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.add-product-form button{
  margin-top:10px;
  padding:14px;
  border:none;
  border-radius:8px;
  background:#e32f92;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
}

.product-form{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:20px;
}

.product-form input,
.product-form textarea{
  padding:12px;
  border:1px solid #ccc;
  border-radius:8px;
}

.product-form button{
  padding:12px;
  border:none;
  border-radius:8px;
  background:#e32f92;
  color:white;
  cursor:pointer;
}

/* /dashboard/product */

/* MAIN CONTAINER */

.adminProductsMainContainer{
  padding: 30px;
  background-color: #f5f7fb;
  min-height: 100vh;
}

/* TOP BAR */

.adminProductsTopBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

/* SEARCH INPUT */

.adminProductsSearchInput{
  flex: 1;
  min-width: 250px;
  padding: 14px 18px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  background-color: white;
  transition: 0.3s;
}

.adminProductsSearchInput:focus{
  border-color: #111827;
}

/* SORT SELECT */

.adminProductsSortSelect{
  padding: 14px 18px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background-color: white;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

/* GRID */

.adminProductsGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

/* PRODUCT CARD */

.adminSingleProductCard{
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.06);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.adminSingleProductCard:hover{
  transform: translateY(-4px);
}

/* IMAGE */

.adminProductImage{
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  background-color: #f3f4f6;
}

/* INFO */

.adminProductInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.adminProductTitle{
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.adminProductBrand{
  color: #6b7280;
  font-size: 15px;
}

/* PRICE */

.adminProductPrice{
  font-size: 22px;
  font-weight: bold;
  color: #111827;
}

/* ACTIONS */

.adminProductActions{
  display: flex;
  gap: 15px;
  margin-top: auto;
}

/* EDIT */

.adminEditIcon{
  background-color: #e0f2fe;
  color: #0284c7;
  padding: 10px;
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.adminEditIcon:hover{
  transform: scale(1.08);
}

/* DELETE */

.adminDeleteIcon{
  background-color: #fee2e2;
  color: #dc2626;
  padding: 10px;
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.adminDeleteIcon:hover{
  transform: scale(1.08);
}

/* RESPONSIVE */

@media(max-width:768px){

  .adminProductsMainContainer{
    padding: 20px;
  }

  .adminProductsTopBar{
    flex-direction: column;
    align-items: stretch;
  }

  .adminProductsSearchInput{
    width: 100%;
  }

  .adminProductsSortSelect{
    width: 100%;
  }
}

/* user-Admin side */
/* 
.adminUsersContainer{
  padding:20px 30px;
}

.adminUsersTopBar{
  margin-bottom:20px;
}

.adminUsersSearch{

  width:350px;

  padding:12px;

  border:1px solid #ddd;

  border-radius:8px;

  outline:none;
}

.adminSingleUser{

  background:white;

  padding:20px;

  border-radius:12px;

  margin-bottom:15px;

  display:flex;

  align-items:center;

  justify-content:space-between;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.08);
}

.adminUserInfo h3{

  margin-bottom:5px;
}

.adminUserInfo p{

  color:gray;
}

.adminSingleUser select{

  padding:10px;

  border-radius:8px;

  border:1px solid #ddd;
} */

.adminUsersContainer{
  padding:30px;
}

.adminUsersTopBar{
  margin-bottom:30px;
}

.adminUsersSearch{

  width:350px;

  padding:12px;

  border:1px solid #ddd;

  border-radius:8px;

  outline:none;
}

.adminUsersGrid{

  display:grid;

  grid-template-columns:
  repeat(auto-fill,minmax(280px,1fr));

  gap:25px;
}

.adminUserCard{

  background:white;

  padding:25px;

  border-radius:16px;

  text-align:center;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.08);
}

.adminUserImage{

  width:100px;

  height:100px;

  border-radius:50%;

  object-fit:cover;

  margin-bottom:15px;
}

.adminUserCard h3{

  margin-bottom:8px;
}

.adminUserCard p{

  color:gray;

  margin-bottom:18px;

  font-size:14px;
}

.adminRoleContainer{

  display:flex;

  justify-content:center;

  gap:20px;

  margin-bottom:18px;
}

.superAdminText{

  color:red;

  margin-bottom:15px;
}

.adminUserButtons{

  display:flex;

  justify-content:center;

  align-items:center;

  gap:15px;
}

.viewOrdersBtn{

  padding:10px 16px;

  border:none;

  background:black;

  color:white;

  border-radius:8px;

  cursor:pointer;

  display:flex;

  align-items:center;

  gap:8px;
}

.adminUserEdit{

  font-size:22px;

  cursor:pointer;

  color:#22c55e;
}

input[type="checkbox"]{
  width:18px;
  height:18px;
  cursor:pointer;
}

/* Userorder.jsx */
.userOrdersContainer{
  padding:30px;
}

.singleUserOrderCard{

  background:white;

  border-radius:14px;

  padding:25px;

  margin-bottom:25px;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.08);
}

/* TOP */

.orderTopSection{

  display:flex;

  justify-content:space-between;

  margin-bottom:25px;
}

.orderTopSection h3{

  margin-bottom:10px;
}

.orderTopSection p{

  color:#555;

  margin-bottom:5px;
}

/* RIGHT */

.orderRightSide{

  text-align:right;
}

.orderRightSide h3{

  margin-bottom:12px;
}

/* STATUS */

.orderStatus{

  padding:8px 14px;

  border-radius:8px;

  color:white;

  font-size:14px;

  font-weight:bold;
}

.orderStatus.Pending{
  background:orange;
}

.orderStatus.Paid{
  background:green;
}

.orderStatus.Failed{
  background:red;
}

/* PRODUCTS */

.orderProductsSection{

  display:flex;

  flex-direction:column;

  gap:18px;
}

.singleOrderedProduct{

  display:flex;

  align-items:center;

  gap:20px;

  border-top:1px solid #eee;

  padding-top:18px;
}

.singleOrderedProduct img{

  width:80px;

  height:80px;

  object-fit:contain;
}

.singleOrderedProduct h4{

  margin-bottom:8px;
}

.singleOrderedProduct p{

  color:#666;
}

/* /dashboard/orders */
.adminOrdersContainer{

  padding:30px;
}

.adminOrdersContainer h1{

  margin-bottom:30px;
}

.adminOrdersTable{

  background:white;

  border-radius:14px;

  overflow:hidden;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.08);
}

/* HEADER */

.adminOrdersHeader{

  display:grid;

  grid-template-columns:
  2fr 2fr 1fr 1fr 1fr 1fr;

  padding:18px;

  background:#f5f5f5;

  font-weight:bold;

  border-bottom:
  1px solid #ddd;
}

/* ROW */

.adminOrdersRow{

  display:grid;

  grid-template-columns:
  2fr 2fr 1fr 1fr 1fr 1fr;

  padding:18px;

  align-items:center;

  border-bottom:
  1px solid #eee;

  font-size:14px;
}

.adminOrdersRow:last-child{

  border-bottom:none;
}

/* STATUS */

.adminOrderStatus{

  padding:7px 12px;

  border-radius:8px;

  color:white;

  font-size:13px;

  font-weight:bold;
}

.adminOrderStatus.Pending{

  background:#eab308;
}

.adminOrderStatus.Paid{

  background:#22c55e;
}

.adminOrderStatus.Failed{

  background:#ef4444;
}

.adminOrdersContainer{

  padding:30px;
}

.adminOrdersContainer h1{

  margin-bottom:30px;
}

.adminOrdersTable{

  background:white;

  border-radius:14px;

  overflow:hidden;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.08);
}

/* HEADER */

.adminOrdersHeader{

  display:grid;

  grid-template-columns:
  2fr 2fr 3fr 1fr 1fr 1fr;

  padding:18px;

  background:#f5f5f5;

  font-weight:bold;

  border-bottom:
  1px solid #ddd;
}

/* ROW */

.adminOrdersRow{

  display:grid;

  grid-template-columns:
  2fr 2fr 3fr 1fr 1fr 1fr;

  padding:18px;

  align-items:center;

  border-bottom:
  1px solid #eee;

  font-size:14px;
}

.adminOrdersRow:last-child{

  border-bottom:none;
}

/* ORDER ID */

.orderIdText{

  font-size:13px;

  word-break:break-all;
}

/* STATUS */

.adminOrderStatus{

  padding:7px 12px;

  border-radius:8px;

  color:white;

  font-size:13px;

  font-weight:bold;
}

.adminOrderStatus.Pending{

  background:#eab308;
}

.adminOrderStatus.Paid{

  background:#22c55e;
}

.adminOrderStatus.Failed{

  background:#ef4444;
}

/* PRODUCTS */

.adminProductsList{

  display:flex;

  flex-direction:column;

  gap:12px;
}

.adminSingleOrderedProduct{

  display:flex;

  align-items:center;

  gap:12px;
}

.adminSingleOrderedProduct img{

  width:55px;

  height:55px;

  object-fit:contain;

  border-radius:8px;

  background:#f5f5f5;
}

.adminSingleOrderedProduct h4{

  font-size:14px;

  margin-bottom:5px;
}

.adminSingleOrderedProduct p{

  font-size:13px;

  color:gray;
}